@import '/src/scss/block-styles';
.wp-block-bc-sitka-spruce-body-section {
	background-color: var(--white);
	padding-top: var(--sitka-container-spacing);
	padding-bottom: var(--sitka-container-spacing);

	@include media-breakpoint-up(md) {
		& .body-section > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			gap: 2rem;

			> .wp-block {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.wp-block-bc-sitka-spruce-callout {
			flex: 1 1 25%;
		}
	}
}
