
/**
* #.# Editor Styles
*
* CSS for just Backend enqueued after style.scss
* which makes it higher in priority.
*/
.wp-block-bc-sitka-spruce-tabs {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/**
* Tab List
*/
.wp-block-bc-sitka-spruce-tabcordion-list {
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	align-items: center;
	padding: 0.75rem;
	border-radius: calc( var(--bs-border-radius) * 2 );
	background: darken(#ebeef2, 3%);
	box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.125);

	//padding: .5rem;

	li[role="presentation"] {
		float: left;
		border: 1px solid transparent;

		button.add-tab {
			padding: 10px 10px;
			color: #555555;
			border-radius: 4px 4px 0 0;
			align-items: center;
			&:hover {
				border: 1px solid #ddd;
				margin: -1px;
			}

			span {
				margin-left: 10px;
			}

			span.dashicon {
				margin-left: 0px;
			}
		}

		a {
			background-color: var( --bc-brutus-blue );
			color: var( --white );
			border-radius: var( --bs-border-radius );
			border: 1px solid var(--bc-brutus-blue);
			text-decoration: none;
			box-shadow: none;
			display: block;
			padding: 0.5rem 1rem;
			margin: 0.5rem 0.25rem;
		}

		&.active a.wp-block-bc-sitka-spruce-tabcordion-list-tab {
			color: #555555;
			background-color: #fff;
			border: 1px solid var( --bc-fountain-blue);
		}
	}
}

/**
* Tab List Tab
*/

.wp-block-bc-sitka-spruce-tabcordion-list-tab {
	margin-top: 0;
	margin-bottom: 0;


	&.has-warning {
		> .editor-block-list__block-edit {
			> div[role="toolbar"].editor-block-contextual-toolbar {
				> .editor-block-toolbar {
					> div > div.components-toolbar > div > button.editor-block-settings-menu__toggle {
						display: block;
					}
				}
			}
		}
	}
}

/**
* Tab Content
*/
.wp-block.wp-block-bc-sitka-spruce-tabcordion-content {
	margin-top: 0 !important;
	margin-bottom: 0 !important;

	div.tabcordion-pane {
		display: none;
	}

	div.tabcordion-pane.active {
		display: block;
	}
}
.wp-block-bc-sitka-spruce-tabcordion-content-panel {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: .5rem 1rem;
}
