.accordion-button.text-bg-primary,
.accordion-button.text-bg-secondary,
.accordion-button.text-bg-success,
.accordion-button.text-bg-danger,
.accordion-button.text-bg-warning,
.accordion-button.text-bg-info,
.accordion-button.text-bg-light,
.accordion-button.text-bg-dark {
	--bs-accordion-btn-icon: #{ escape-svg(  accordion-icon-open($accordion-icon-active-color) ) };
	--bs-accordion-btn-active-icon: #{ escape-svg(  accordion-icon-close($accordion-icon-active-color) ) };
}
.accordion-button.text-white {
	--bs-accordion-btn-icon: #{ escape-svg(  accordion-icon-open($accordion-icon-color) ) };
	--bs-accordion-btn-active-icon: #{ escape-svg(  accordion-icon-close($accordion-icon-color) ) };
}
