.section-divider {
	max-width: 1160px;
	margin: 0 auto;
}

.section,
.section.swiper {
	padding-top: var( --sitka-container-spacing );
	padding-bottom: var( --sitka-container-spacing );

	&.curved-top {
		padding-top: 0;
	}

	&.section-white {
		padding-bottom: 0;
	}

	&.section-xlight {
		background-color: var(--gray--xlight);
	}

	&.section-accent-blue-extralight {
		background-color: var(--accent-fountain-blue-extralight);
	}

	.bg-navy {
		background-color: var(--bc-rainy-night-blue);
	}

	.section-heading > .container-xl {
		padding-bottom: calc( var( --sitka-container-spacing ) * 0.5);
	}

}
