@import '/src/scss/block-styles';

.testimonial-section {
	.testimonial-image img {
		border-radius: var(--bs-border-radius);
	}

	@include media-breakpoint-up(md) {
		.testimonial.row {
			--bs-gutter-x: 4rem;
		}
	}

	.testimonial-text {
		display: flex;
		flex-direction: column;
		justify-content: center;

		blockquote {
			font-size: 1.75rem;
			font-weight: 300;
			margin: 0;

			// Add quotes before and after the text
			&::before {
				content: "\201C";
			}
			&::after {
				content: "\201D";
			}
		}

		hr {
			border-top: 3px solid;
			border-color: var(--bc-fountain-blue);
			opacity: 1;
			max-width: 5.25rem;
		}

		.attribution {
			&-name {
				font-size: 1.25rem;
				font-weight: 600;
				margin-bottom: 0rem;
			}

			&-desc {
				font-size: 1rem;
			}
		}

	}
}
