@import '/src/scss/block-styles';

.news-feature-component {
	padding-top: var(--sitka-container-spacing);
	padding-bottom: var(--sitka-container-spacing);

	.news-feature--featured-item {
		figure svg {
			border-radius: var(--bs-border-radius);
		}
	}
}
