@use "sass:map";

.flexible-page {
	// Use CSS Grid to display blocks alongside sidebar content, even though there cannot be a good wrapper heirarchy
	--flexpage-column-gap: 1.25rem;
	--flexpage-base-width: calc( 100% );
	--flexpage-columns: 3;
	--flexpage-sidebar-width: calc( var( --flexpage-unit ) * 1 );
	--flexpage-narrow-content-width: calc( var( --flexpage-unit ) * 2 );

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	column-gap: var( --flexpage-column-gap );

	@include media-breakpoint-up('md') {
		grid-template-columns: 1fr repeat( var( --flexpage-columns ), var( --flexpage-unit ) )  1fr;
		--flexpage-unit: calc(
			( var( --flexpage-base-width ) - ( var( --flexpage-column-gap ) * ( var( --flexpage-columns ) - 1 ) ) -
			( var( --bs-gutter-x, 1.25rem ) * 2 ) ) / var( --flexpage-columns ) );
	}
	@include media-breakpoint-up('lg') {
		--flexpage-column-gap: 2.5rem;
		--flexpage-unit: calc(
			( var( --flexpage-base-width ) - ( var( --flexpage-column-gap ) * ( var( --flexpage-columns ) - 1 ) ) -
			( var( --sitka-container-spacing) * 2 ) ) / var( --flexpage-columns ) );

	}

	@include media-breakpoint-up('xl') {
		--flexpage-base-width: #{ map.get( $container-max-widths, 'xl' ) };
	}

	@include media-breakpoint-up('xxl') {
		--flexpage-base-width: #{ map.get( $container-max-widths, 'xxl' ) };
	}

	& > * {
		@include media-breakpoint-up('md') {
			grid-column: 1 / span calc( var( --flexpage-columns ) + 2 );
		}
	}

	.nav-sidebar-wrapper {
		margin-bottom: var( --sitka-container-spacing );

		@include media-breakpoint-down('md') {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			@include make-container();
		}
		@include media-breakpoint-up('md') {
			grid-column: 2 / 2;
		}
	}

	.narrow-content {
		margin-bottom: var( --sitka-container-spacing );
		@include media-breakpoint-down('md') {
			@include make-container();
		}
		@include media-breakpoint-up('md') {
			grid-column: 3 / span calc( var( --flexpage-columns ) - 1 );
		}
	}
}
