.post-list-page,
.post-single-page,
.related-posts {

	.card-title-small a {
		--bs-link-color-rgb: var(--accent-link-blue-rgb);

		&:hover,
		&:focus {
			--bs-link-color-rgb: var(--bs-link-hover-color-rgb);
		}
	}

	hr.accent {
		max-width: 5.5rem;
		border-top-width: 3px;
	}

	hr.light-rule {
		@include media-breakpoint-up('sm') {
			margin-block: var(--sitka-container-spacing);
			margin-inline: 0;
		}
	}

	.result-count {
		font-weight: 600;
	}

	.filter-form-block {
		background-color: get_color( $utility-colors, 'gray--xlight' );

		.filter-icon {
			color: get_color( $brand-colors, 'bc-fountain-blue' );
		}

		.view__button {
			display: block;
			width: 100%;
		}
	}
}
