.post-list-page {

	.result-count {
		font-weight: 600;
	}

	.filter-form-block {
		background-color: get_color( $sitka-colors, 'gray--xlight' );

		.filter-icon {
			color: get_color( $brand-colors, 'bc-fountain-blue' );
		}

		.view__button {
			display: block;
			width: 100%;
		}
	}
}
