
.post-single-page {

	.post-additional {
		margin-top: var(--sitka-container-spacing);
		margin-bottom: var(--sitka-container-spacing);
	}

	.post-additional-title {
		border-bottom: 1px solid var(--gray--light);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	.post-additional-contact .contact-item {
		background: var(--gray--xlight);
		border-radius: var(--bs-border-radius);

		.contact-item-r {
			background: transparent;
		}
	}
}

// Prevent extra padding
#main-content .single-post-content {
	& > .block-wrapper {
		padding-right: 0;
		padding-left: 0;
	}
}
