@import '/src/scss/block-styles';

.homepage-intro {
    @include media-breakpoint-up('lg') {
        background: linear-gradient(180deg, css_color('gray--xlight') 0, css_color('white') 100%);
    }
}

.hero {
    min-height: 5rem;
}

.site-type-div {
    .hero {
        img {
            width: 100%;
        }
    }

}

.site-type-dept {

    .hero {

        // Add padding to sides and top
        @include make-container();
        padding-top : var( --sitka-container-spacing );

        // Allow for intentional looking offset of hero image width and content below
        @include media-breakpoint-only('lg') {
            --bs-gutter-x: 1.5rem;
        }

        img {
            width: 100%;
            border-radius: var(--bs-border-radius);
        }
    }
}

.site-type-suppt {
    .hero {
        @include make-container();
        --bs-gutter-x: calc( var( --sitka-container-spacing ) * 2 );
        max-width: 1280px;

        padding-top: var( --sitka-container-spacing );

        img {
            width: 100%;
            border-radius: var(--bs-border-radius);
        }
    }
}
