@import "/src/scss/block-styles";

.listing-section {
	.list {
		margin-top: 3rem;
		margin-bottom: 3rem;

		&-item {
			background-color: var(--white);
			padding: 1.5rem;
			margin-bottom: 0.25rem;
			margin-left: 0.125rem;
			margin-right: 0.125rem;
			border-radius: var(--bs-border-radius);

			img {
				width: 360px;
				height: 240px;
				border-radius: var(--bs-border-radius) !important;
				object-fit: fill;
				height: auto; 
				max-width: 100%;

			}

			@include media-breakpoint-down(sm) {

					a.link-arrow {

						display: block;
						
					}

			}

			a {
				margin-right: 1rem; 
			  }

			@include media-breakpoint-up(md) {
				padding: 3rem;
			}
			
		}

		h2 {
			@include secondary-typeface(b22-card-title-big);
		}

		p {
			margin-top: 1rem;

		}
	}	
}