@import "/src/scss/block-styles";

.listing-section {
	.list {
		margin-top: 3rem;
		margin-bottom: 3rem;

		&-item {
			background-color: var(--white);
			padding: 1.5rem;
			margin-bottom: 0.125rem;
			margin-left: 0.125rem;
			margin-right: 0.125rem;

			.img-fluid {
				width: 360px;
				height: 240px;
			}

			@include media-breakpoint-down(sm) {

					a.link-arrow {

						display: block;
						
					}

			}
			
		}

		h2 {
			@include secondary-typeface(b22-card-title-big);
		}

		p {
			margin-top: 1rem;

		}
	}	
}