@import "/src/scss/block-styles";

.announcement {
	margin-top: 3rem;
	margin-bottom: 3rem;

	&--item {
		background-color: var( --accent-fountain-blue-extralight );
		padding: 1.5rem;

		@include media-breakpoint-up(md) {
			padding: 3rem;
		}
	}


	&__image {
		width: 260px;
		min-width: 232px;
		max-width: 100%;

		@include breakpoint(min, 350px) {
			min-width: 260px;
		}

		.aspect-ratio-frame {
			overflow: hidden;
			border-radius: var(--bs-border-radius);
		}
	}

	p {
		margin-top: 1rem;
	}

}
