@import '/src/scss/block-styles';
.tabs-section-component {
	.container-xl {
		--bs-gutter-x: calc( var( --sitka-container-spacing ) * 2 ) !important;
	}
}
.application-steps-header {
	padding-top: var(--sitka-container-spacing);
	a:link,
	a:visited,
	a:hover,
	a:focus,
	a:active {
		color: var(--white);
	}
}

