@import '/src/scss/block-styles';

.tabs-section-component {
	color: var(--white);
	background-color: var(--bc-rainy-night-blue);

	padding-top: 6rem;
	padding-bottom: 6rem;

	.tab-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}

