@use '@awesome.me/kit-8745498039/icons/scss/_fa.scss' as fa;

.on-page-nav {
  position: relative;
  z-index: 3;

  &__wrap {
    width: 100%;
    max-width: rem-calc(1360);
    margin-right: auto;
    margin-left: auto;
    background-color: css_color('gray--xlight');

    @include global-spacing(7x, padding-top padding-bottom);
  }

  // Only on Section pages- replaced with Bootstrap defaults on default pages
  &__skip-link {
    a {
      display: block;
      overflow: hidden;
      height: 0;
      opacity: 0;

      &:focus {
        position: relative;
        height: auto;
        opacity: 1;
      }
    }
  }

  // UL inside Accordion Body
  .accordion__content,
  .accordion-body {
    & > ul.special {
      list-style: none;

      & > li {
        @include global-spacing(4x, margin-top);

        &::marker {
          display: none;
        }
      }
    }
  }

  /// General Page version
  &.on-page-nav--general {
    .accordion__content,
    .accordion-body {
      & > ul.special {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(32 20);

        @include media-breakpoint-down(sm) {
          gap: 0.5rem;
        }

        ul {
          list-style: none;
        }

        & > li {
          flex: 1 1 auto;
          width: 100%;
          margin-top: 0;
          border-radius: rem-calc(4);

          @include media-breakpoint-up(sm) {
            width: calc(50% - 20px);
            min-width: calc(50% - 20px);
            max-width: calc(50% - 20px);
          }

          @include media-breakpoint-up(lg) {
            width: calc(33.33% - 13.333px);
            min-width: calc(33.33% - 13.333px);
            max-width: calc(33.33% - 13.333px);
          }
        }
        & > li {
          position: relative;
          z-index: 1;
          display: flex;
          flex-wrap: wrap;
          padding: rem-calc(8 10);
          background-color: css_color('white');

          & > a {
            width: fit-content;
            text-decoration: none;
            color: $accent-link-blue;

            &:hover {
              text-decoration: underline;
            }
          }

          & > .menu-item__button {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            padding: 0;
            background-color: transparent;
            border: none;

            &::after {
              @include font-awesome;
              content: '\f055';
              transition: transform .1s ease-in-out;
              color: css_color('bc-brutus-blue');
              font-size: 1.5rem;
              font-weight: 900;
              line-height: 1.5rem;
              margin-top: .1rem;
            }

            &:hover,
            &:focus {

              &::after {
                transform: scale(1.1);
                transform-origin: center;
                color: #000000;
              }
            }
          }

          &.current_page_ancestor {
            background-color: css_color('accent-fountain-blue-light');

            & > a {
              color: $black;
            }

            & > .menu-item__button::after {
              color: $accent-navy;
            }
          }

          &.current_page_item {
            background-color: $accent-navy;

            & > a {
              color: css_color('white');
            }

            & > .menu-item__button::after {
              color: css_color('accent-fountain-blue-light');
            }
          }

          &.menu-item--open {
            z-index: 2;
            background-color: css_color('bc-brutus-blue');

            & > a {
              color: css_color('white');
            }

            & > .menu-item__button::after {
              content: '\f056';
              color: css_color('accent-fountain-blue-light');
            }
          }

          &:hover {
            background-color: $accent-green-light;

            & > a {
              color: $black;
            }

            & > .menu-item__button::after {
              color: $accent-navy;
            }
          }
        }
      }
    }
  }
}


.on-page-nav--general {
  .accordion__content > ul.special > li > ul.menu,
  .accordion-body > ul.special > li > ul.menu {
    display: none;
  }

  .accordion__content > ul.special > li.menu-item--open > ul.menu,
  .accordion-body > ul.special > li.menu-item--open > ul.menu {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 4px 4px;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: css_color('accent-fountain-blue-light');
    border-radius: 0 0 4px 4px;
    background-color: css_color('white');
  }

  .accordion {
    position: relative;
    z-index: 1;

    &:hover,
    &--open {
      z-index: 2;
    }

    &__content {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 4px 4px;
      border-width: 0 2px 2px;
      border-style: solid;
      border-color: css_color('accent-fountain-blue-light');
      border-radius: 0 0 4px 4px;
    }
  }
}

.accordion__content > ul.special,
.accordion-body > ul.special {

  ul {
    list-style: none;

    ul {
      margin-left: 1.5rem;
    }
  }

  ul li::marker {
    display: none;
  }

  ul a {
    display: block;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 28px;
    text-decoration: none;
    color: $accent-link-blue;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $black;
    }
  }

  ul .current_page_item > a,
  ul .current_page_ancestor > a {
    background-color: css_color('accent-fountain-blue-extralight');
  }

  ul .current_page_item > a {
    position: relative;
    border: 1px solid css_color('bc-fountain-blue');

    &::before {
      @include font-awesome;
      position: absolute;
      top: 5px;
      left: 7px;
      content: fa.fa-content(fa.$var-arrow-right);
    }
  }
}

/// Landing Page version
.on-page-nav--landing {

  h2 {
    @include secondary-typeface(b22-card-title-small);
  }

  ul.row {
    li {
      list-style-type: none;
    }

    a {
      position: relative;
      display: block;
      padding-bottom: rem-calc(4);
      text-decoration: none;
      color: $accent-link-blue;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        max-height: 2px;
        content: '';
        transition: max-height $primary-transition;
        background-color: css_color('bc-fountain-blue');
      }

      &::after {
        position: absolute;
        padding-left: space-calc(1);
        content: fa.fa-content(fa.$var-long-arrow-right);
        transition: transform $primary-transition, opacity $primary-transition;
        color: $accent-link-blue;
        font-family: $font-awesome;
        font-weight: 300;
        line-height: 1.5;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: $black;

        &::before {
          max-height: 5px;
          background-color: css_color('bc-fountain-blue');
        }

        &::after {
          color: $black;
        }
      }
    }
  }

  &__skip-link {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}
