	////
	/// @group menus
	/// Utility menu styles.
	////

.utility-menu {

	// All Breakpoints
	// ---------------
	ul {
		display: flex;
		padding: 0;
	}

	a,
	li {
		display: block;
	}

	a {
		font-family: $sans-serif;
		color: css_color('accent-link-blue');
		font-weight: 600; 

		text-decoration: underline;
		text-decoration-color: css_color('bc-fountain-blue');
		text-decoration-thickness: 2px;
		text-underline-offset: .33rem;

		.far::before {
			color: css_color('bc-brutus-blue');
		}

		&:hover,
		&:focus {
			color: css_color('bc-rainy-night-blue');
			text-decoration-color: css_color('bc-brutus-blue');

			.far::before {
				text-decoration: underline;
				text-decoration-color: css_color('bc-fountain-blue');
				text-decoration-thickness: 2px;
				text-underline-offset: .33rem;
			}
		}
	}

	// Mobile
	// ------
	@include media-breakpoint-down(md) {

		ul {
			flex-direction: column;
		}

		a {
			padding: .5em;
			text-align: left;
		}
	}


	// Desktop
	// -----
	@include media-breakpoint-up(lg) {

		ul {
			margin-top: 1rem;
		}

		a {
			padding: 0 1em;
		}
	}
}