@import '/src/scss/block-styles';

.callout__links ul {
	padding-left: 0 !important;
}

.callout-wrapper.callout-disabled p {
	opacity: 0.75;
	font-style: italic;
	margin-block: var(--sitka-container-spacing);
	margin-inline: 2rem;
}

