@import '/src/scss/block-styles';

.callout {
	border-radius: 0.5rem;
	background-color: var( --white );
	// background-color: var( --accent-fountain-blue-extralight );

	// @include padding-4x;
	padding: 2rem;
	margin-bottom: 2rem;

	&.callout-info {
		background-color: var( --accent-fountain-blue-extralight );
	}


	&__heading {
		@extend .card-title-small;
		margin-bottom: 1rem;
	}

	p {
		//@include global-spacing(2x, margin-top);
		//@include secondary-typeface(small-text);
		margin-bottom: 1rem;
	}


	&__links {

		ul {
			list-style: none;
			font-weight: bold;
			padding-left: 0;
		}

		li {
			line-height: 2.5rem;
		}

		a {
			&,
			&:hover,
			&:focus,
			&:active,
			&:visited,
			&:link {
				color: var(--accent-link-blue);
				text-decoration: underline;
				text-underline-offset: .25rem;
				text-decoration-color: var(--bc-fountain-blue);
			}

			&:hover,
			&:focus {
				color: var(--bc-brutus-blue);
			}
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}



// this bit shouldn't be necessary, but we have nesting callout divs.
.callout > .callout {
	margin: 0 !important;
	padding: 0;
}


.callout + .callout {
	//@include global-spacing(2x, margin-top);
}
