@import '/src/scss/block-styles';
.bio-section-wrapper {
	background-color: var(--white); 
	padding-top: var(--sitka-container-spacing);
	padding-bottom: var(--sitka-container-spacing);

	@include media-breakpoint-up(md) {
		& .bio-section > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			gap: 2rem;
		}
		.wp-block-bc-sitka-spruce-callout {
			flex: 1 1 25%;
		}
	}
}
