@import 'variables/type';
@import 'variables/colors';
@import 'variables/css';
@import 'variables/animation';
@import 'variables/bootstrap';



@import "lib/gerillass";

@import "variables/spacing";

@import "lib/bootstrap";

@import "lib/fontawesome";

// Stories that should be included globally
$header-tablet-breakpoint: sm;
$header-desktop-breakpoint: lg;
@import "stories/header";
@import "stories/site-search-form";

// Front-end only components
@import "menus";


// MOVE THESE ELSEWHERE
// Temporary CSS that should be moved to appropriate files



.container, .container-xl {
    @include media-breakpoint-up('lg') {
        --bs-gutter-x: 7.5rem;
    }
}

#main-content {
    .block-wrapper {
        @include make-container();
        @include media-breakpoint-up('lg') {
            --bs-gutter-x: 7.5rem;
        }

        max-width: var( --wp--style--global--wide-size);

        &.alignfull {
            max-width: 100%;
        }

        &.alignstandard > *,
        &.aligncenter {
            max-width: var(--wp--style--global--content-size);
        }

        &.alignwide > * {
            max-width: var( --wp--style--global--wide-size);
        }

    }
}


