@import 'variables/type';
@import 'variables/colors';
@import 'variables/css';
@import 'variables/animation';
@import 'variables/bootstrap';



@import "lib/gerillass";

@import "variables/spacing";

@import "lib/bootstrap";

@import "lib/fontawesome";

// Stories that should be included globally
$header-tablet-breakpoint: sm;
$header-desktop-breakpoint: lg;
@import "stories/header";
@import "stories/site-search-form";

// Front-end only components
@import "menus";


// MOVE THESE ELSEWHERE
// Temporary CSS that should be moved to appropriate files



.container, .container-xl {
    @include media-breakpoint-up('lg') {
        --bs-gutter-x: 7.5rem;
    }
}

#main-content {
    .block-wrapper {
        @include make-container();
        @include media-breakpoint-up('lg') {
            --bs-gutter-x: 7.5rem;
        }

        max-width: var( --wp--style--global--wide-size);

        &.alignfull {
            max-width: 100%;
        }

        &.alignstandard > *,
        &.aligncenter {
            max-width: var(--wp--style--global--content-size);
        }

        &.alignwide > * {
            max-width: var( --wp--style--global--wide-size);
        }

    }
}


// Tabcordion -- should move to story!
.tabcordion.tabcordion-tabs-top{

	@include media-breakpoint-up('md') {
		//background: var(--gray--xlight);
	}

	.accordion {
		--bs-accordion-body-padding-x: 0;
		--bs-accordion-body-padding-y: 0;

		--bs-accordion-border-color: transparent;
		--bs-accordion-border-width: 0;

		--bs-accordion-btn-bg: var(--bc-brutus-blue);
		--bs-accordion-btn-color: var(--white);

		--bs-accordion-active-color: var(--black);
		--bs-accordion-active-bg: var(--white);

	}



	.tab-header {
		--bs-gutter-x: 3.25rem;
		background: var(--gray--xlight);
		padding-top: calc( var(--bs-gutter-x) * 0.5);
		padding-bottom: calc( var(--bs-gutter-x) * 0.5);
	}

	// Inset container for tabs
	.tab-header .nav-container{
		.nav-link {
			--bs-nav-link-font-size: 1rem;
			--bs-nav-link-font-weight: 600;
			--bs-nav-link-padding-y: 0.5em;
			--bs-nav-link-padding-x: 2em;
		}
		//margin: 1rem 0rem 2rem 0rem;
		padding: 0.75rem;
		border-radius: calc( var(--bs-border-radius) * 2 );
		background: darken(#ebeef2, 3%);
		box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.125);

		@include media-breakpoint-up('lg') {
			//margin: 0rem -2rem 2rem -2rem !important;
		}

	}

	.tab-pane.accordion-item {
		@include media-breakpoint-up('md') {
			--bs-accordion-border-radius: 0;
			--bs-accordion-bg: none;
			--bs-accordion-border-color: transparent;
		}

		@include media-breakpoint-down('md') {
			opacity: 1;
			display: block;
		}
	}

	.accordion-button {
		border: 1px solid var(--bc-fountain-blue);
		border-radius: var( --bs-border-radius );
		margin-top: 0.5rem;
		&.collapsed {
			border: 1px solid var(--bc-brutus-blue);
		}
	}

	.accordion-body > .application-step-single {
		& :last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) > .container-xl  {
			background-color: var(--gray--xxlight);
			border-top: 1px solid var(--bc-bulldog-silver);
		}
		&:nth-child(odd) > .container-xl  {
			background-color: var(--gray--xlight);
		}

		& > .container-xl {
			padding-top: calc( var(--bs-gutter-x) * 0.5);
			padding-bottom: calc( var(--bs-gutter-x) * 0.5);
		}


		@include media-breakpoint-up('md') {
			&:nth-child(even) > .container-xl {
				background-color: var(--gray--xxlight);
			}
			&:nth-child(odd) > .container-xl {
				background-color: var(--gray--xlight);
			}
		}
	}

	.application-step-single-heading {
		font-size: 2.75rem;
	}

}

// Application Steps
.application-steps-component {
	background: linear-gradient(180deg, css_color('gray--xlight') 0, css_color('white') 25rem);

	& > .section-heading {
		& > .container-xl {
			padding-top: calc( var(--bs-gutter-x) * 0.5);
			padding-bottom: calc( var(--bs-gutter-x) * 0.25);
		}
	}
}
