// CSS Variable Generation using shared package
@use 'bc-theme-layer-bs5/scss/css-variables/_generate' with (
  $css-var-prefix: 'sitka-',
  $prefix-theme-colors: false,
  $prefix-spacing: true,
  $prefix-headings: true,
  $generate-heading-vars: true,
  $generate-container-spacing: true,
  $heading-sizes: $heading-sizes,
  $brand-colors: $brand-colors,
  $theme-colors: $utility-colors,
  $grid-breakpoints: $grid-breakpoints
);
