@import "/src/scss/block-styles";
.media-gallery-wrapper {
	&, .section-heading {
		--bs-heading-color: var(--white);
		--text-color: var(--white);
	}

	& > .container-xl {
		// Slider adds extra margin, so this is to offset it
		margin-top: calc(  var(--sitka-container-spacing) / 3 );
	}

	.swiper-slide {

		&-visible {
			opacity: .3;
		}

		&-fully-visible,
		&-active {
			opacity: 1;
		}
	}

	.media-gallery-single-slide {
		.image-overlay-container {
			max-width: 600px;
		}

		hr {
			--bs-border-width: 3px;
			border-color: var(--bc-fountain-blue);
			opacity: 1;
			max-width: 5.25rem;
		}

		figcaption {
			align-content: center;
		}

	}
}

