.announcement {
	margin-top: var( --sitka-container-spacing );
	margin-bottom: var( --sitka-container-spacing );

	&--item {
		background-color: var( --accent-fountain-blue-extralight );
		// Use gutter instead of container spacing for internal consistency
		padding: var( --bs-gutter-x );
	}


	&__image {

		.aspect-ratio-frame {
			overflow: hidden;
			border-radius: var(--bs-border-radius);
			max-width: 260px;
		}
	}

	&__links {
		// Remove the bottom margin from the links list to avoid double spacing
		margin-bottom: 0;
	}

	h2 + p {
		margin-top: 1rem;
	}
}
