.bg-trees-dark {
	background-color: var(--bc-brutus-blue);
}

.flexible-page-intro-wrapper {
	padding-top: max( var(--sitka-container-spacing), 2rem );
	margin-bottom: max( calc( var(--sitka-container-spacing) * 2 ), 4rem );
	color: var(--white);
	--bs-heading-color: var(--white);
	--bs-body-color: var(--white);

	.flexible-page-intro {
		.intro-text-content {
			padding-bottom: calc(var(--sitka-container-spacing) * 1);
		}
	}

	.flexible-page-header-image {
		text-align: center;
		$offset: -3rem;
		position: relative;
		margin-top: $offset;
		bottom: $offset;
	}
}
