.sock {
	color: var(--white);
	--bs-text-color: var(--white);
	padding-top: var(--sitka-container-spacing);
	padding-bottom: var(--sitka-container-spacing);
	background-color: var(--bc-brutus-blue);

	// Layer gradient on top of image to create texture
	background-image: linear-gradient(
		180deg,
		transparent 33%,
		var(--bc-brutus-blue) 100%
	), url('/assets/img/sock-texture.svg');

	&-cta {
		padding-bottom: var(--sitka-container-spacing);

		.btn {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-location-hours-content {
		background-color: var(--bc-rainy-night-blue);
		border-radius: var(--bs-border-radius);
	}

	.sock-location p {
		font-weight: 600;
	}

	.sock-manager {

		@include media-breakpoint-down(lg) {
			padding-top: var(--sitka-container-spacing);
			border-top: 2px solid var(--bc-fountain-blue);
		}

		@include media-breakpoint-up(lg) {
			border-left: 2px solid var(--bc-fountain-blue);
		}

		// Alternate styles when only the manager section is present
		&:only-child {
			border-top: none; // disable the top border that is normally applied on smaller screens, as there will be no element above this one
			border-left: 2px solid var(--bc-fountain-blue);
			padding-top: 0;
		}

		a {
			font-weight: 600;
		}

		.email-icon {
			color: var(--bc-fountain-blue);
			margin-right: 0.75rem
		}
	}

	a:not(.btn) {
		&,
		&:link,
		&:visited {
			color: var(--white);
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--accent-fountain-blue-light);
		}
	}

	&.sock-degree {
		.card-sitka {
			--bs-card-color: var(--white);
			--bs-card-bg: var(--bc-rainy-night-blue);
		}
	}
}
