#header-wrapper {
    background: css_color('white');
    background: linear-gradient(180deg, css_color('gray--xlight') 60px, css_color('white') 60px);
}

#site-header {
    // Highlight all elements - temporary
    // & > div,
    // & > nav {
    //     border: 3px solid green;
    //     margin: .25em;
    // }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;

    // Mobile Header Layout
    grid-template-areas:
        "logo logo logo logo logo logo"
        "navbar navbar navbar navbar navbar navbar"
        "utilitynav utilitynav utilitynav utilitynav utilitynav utilitynav"
        "search search search search search search";
    
    // Desktop Header Layout
    @include media-breakpoint-up(md) {
        grid-template-areas:
            "logo logo utilitynav utilitynav utilitynav utilitynav"
            "navbar navbar navbar navbar navbar navbar"
            ". . . search search search";
    }


    &--logo { 
        grid-area: logo;

        img {
            height: 40px;
            width: auto;
            margin: 10px 1rem 10px 0;
        }
    }
    &--utility-nav {
        grid-area: utilitynav;
    }
    &--site-navbar {
        grid-area: navbar;
    }
    &--search {
        grid-area: search;
    }

    // Hide and display Search Box based on screen size and expanded state
    @include media-breakpoint-up(md) {
        &--search {
            display: none;
        }
        &.search-expanded &--search {
            display: block;
        }
    }

    // Hide and display menus on mobile
    @include media-breakpoint-down(md) {
        &--utility-nav,
        &--main-nav,
        &--cta,
        &--search {
            display: none;
        }
        &.menu-expanded &--utility-nav,
        &.menu-expanded &--main-nav,
        &.menu-expanded &--cta,
        &.menu-expanded &--search {
            display: block;
        }
    }
}