
#header-wrapper {
    background: css_color('white');
    background: linear-gradient(180deg, css_color('gray--xlight') 60px, css_color('white') 60px);
}

#site-header {
    // Highlight all elements - temporary
    // & > div,
    // & > nav {
    //     border: 3px solid green;
    //     margin: .25em;
    // }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    // Mobile Header Layout
    grid-template-areas:
        "logo logo logo logo logo logo"
        "navbar navbar navbar navbar navbar navbar"
        "utilitynav utilitynav utilitynav utilitynav utilitynav utilitynav"
        "search search search search search search";

    
    // Desktop Header Layout
    @include media-breakpoint-up($header-desktop-breakpoint) {
        grid-template-areas:
            "logo logo utilitynav utilitynav utilitynav utilitynav"
            "navbar navbar navbar navbar navbar navbar"
            ". . . search search search";
    }


    &--logo { 
        grid-area: logo;

        img {
            height: 40px;
            width: auto;
            margin: 10px 1rem 10px 0;
        }
    }
    &--utility-nav {
        grid-area: utilitynav;
    }
    &--site-navbar {
        grid-area: navbar;
    }
    &--search {
        grid-area: search;
    }

    // Hamburger Menu
    .menu-toggle {
        border-radius: 0;
        padding: 0 0.25em;
        font-size: 1.75em;

        .fas-bars::before {
            color: css_color('bc-brutus-blue');
        }
    }

    .site-title {
        margin-top: 0.5rem;

        a {
            text-decoration: none;
            color: css_color('black');
        }
    }

    &.menu-expanded .menu-toggle {
        background-color: css_color('bc-brutus-blue');
        color: css_color('white');
    } 

    // Hide and display Search Box based on screen size and expanded state
    @include media-breakpoint-up($header-desktop-breakpoint) {
        &--search {
            display: none;
        }
        &.search-expanded &--search {
            display: block;
        }

        &--main-nav,
        &--cta {
            padding-top: 0.5rem;
        }
    }

    // Hide and display menus on mobile
    @include media-breakpoint-down($header-desktop-breakpoint) {

        &--site-title {
            padding-right: 0;
        }

        &--utility-nav,
        &--main-nav,
        &--cta,
        &--search {
            display: none;
        }
        &.menu-expanded &--utility-nav,
        &.menu-expanded &--main-nav,
        &.menu-expanded &--cta,
        &.menu-expanded &--search {
            display: block;
        }
    }
}