@import '/src/scss/block-styles';

//Styling for Contact Section
.contact-section {
    background-color: var( --accent-fountain-blue-extralight );
    padding-top: calc( var(--bs-gutter-x) / 2 );
    padding-bottom: calc( var(--bs-gutter-x) / 2 );
    //Styling for icon in button
    .fa-external-link-square{
        padding-inline: 0.5rem;
    }
}

//1rem = 16px, EX: 24px = 1.5rem
.contact-item-r {
    //styling for left-hand side/ column of contact item(s)
    h3{
        color: var( --black );
    }
    .position-text {
        color: var( --black );
    }
    
    //styling for all of the contact item(s)
    color: var( --bc-brutus-blue );
    background-color: var( --white );
    margin: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    padding:1.5rem 2.5rem;
    &:last-child {
        margin-top: 0;
    }
}

//Styling Specific to button(s)
.contact-info {
    &:last-child{
        a{
            overflow-wrap: break-word;
            font-weight: bold;
            color: var( --accent-link-blue );
            &:hover{
                color: var( --black );
            }
        }
    }
    .btn{
        color: var( --white );
    }
}

//Styling for icon in button
.fa-external-link-square{
    padding-inline: 0.5rem;
}
