@import '/src/scss/block-styles';

//Styling for Contact Section
.contact-section {

    //Styling for icon in button
    .fa-external-link-square {
        padding-inline: 0.5rem;
    }
}

.contact-item-r {

    //styling for left-hand side/ column of contact item(s)
    h3 {
        color: var(--black);
    }
    // description/paragraph styling
    .position-text {
        color: var(--black);
    }

    //styling for all of the contact item(s)
    color: var(--bc-brutus-blue);
    background-color: var(--white);
    margin: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    padding:1.5rem 2.5rem;

    &:last-child {
        margin-top: 0;
    }
}

.contact-item:last-child .contact-item-r {
	margin-bottom: 0;
}

//Styling Specific to button(s)
.contact-info {
    .contact-info-email {
        // Ensure long email addresses don't break layout
        // For some reason, hiding overflow doesn't work on smaller breakpoints
        word-break: break-all;
        @include media-breakpoint-up(md) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .btn {
        color: var(--white);
    }

    //Styling for icon in button
    .fa-external-link-square {
        padding-inline: 0.5rem;
    }
}